#container {

  p.dk-title {
    color: #5a5c9d;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
  }

  .install-page {
    p {
      text-align: center;
    }

    & > p {
      font-size: 18pt;
      margin-top: 100px;
    }

    .install {
      width: 200px;
      height: 60px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
      @include button(#FFF, #000);
      @include box-shadow(0, 10px, 16px, rgba(0, 0, 0, 0.2));

      p {
        font-size: 16pt;
        transform: translateY(16px);
      }
    }

    .user-data {
      text-align: center;

      input {
        margin: 4px 0;
      }

      .btn-complete {
        width: 160px;
        height: 40px;
        @include button(#FFF, #000);
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.1));

        p {
          font-size: 12pt;
          transform: translateY(6px);
        }
      }
    }
  }

  .charities, .campaigns {
    line-height: 1.2;

    .box {
      padding: 0.5rem;
      margin-bottom: 0.3em;

      .remove-charity {
        margin-top: auto;
        @include rounded(5px);
      }
    }

    .connect-campaign, .disconnect-campaign {
      @include rounded(5px);
    }
  }

  .campaigns {
    .box {
      padding: 20px;

      span.title {
        font-weight: 500;
        font-size: 12pt;
      }

      ul {
        list-style: none;
        border-top: 1px solid #ccc;

        &:hover {
          background-color: #e7ffe2;
        }

        li {
          padding: 4px 2px;
        }
      }
    }
  }

  .btn-browse-charities {
    margin-bottom: 20px;
    @include button(#44be2b, #fff);
  }

  .browse-charities {
    .search-box {
      margin-bottom: 40px;
    }

    .selected_categories {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 20px;

      .category {
        margin-left: 6px;
        margin-bottom: 6px;
      }

      span.category {
        @include button(#e369b0, #fff);
        cursor: auto;
      }

      span.remove {
        color: #000;
        position: absolute;
        margin-left: -25px;
        transform: translateY(3px);
        width: 20px;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #f185ca;
          @include rounded(0.3em);
        }
      }
    }

    .categories {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 20px;

      .category {
        margin: 6px 4px;

        span {
          cursor: pointer;
          padding: 4px 10px;
          @include box-shadow(0, 0, 5px, #ccc);
          @include rounded(0.7em);

          &:hover {
            @include box-shadow(0, 0, 3px, #209cee);
          }
        }
      }
    }

    .found-charities {
      .card {
        margin-bottom: 20px;

        .install-charity {
          margin: 4px 10px 4px auto;
          @include button(#e369b0, #fff);
        }
      }
    }
  }
}