$imgpath: "../../assets/images";

html {
  overflow: hidden;
}

body {
  height: 100vh;
  background: rgb(244, 243, 243);
  background: linear-gradient(0deg, rgba(244, 243, 243, 1) 0%, rgba(250, 250, 250, 1) 70%, rgba(227, 241, 255, 1) 100%);
}

.navbar-brand {
  img {
    max-height: 54px;
  }
}

#container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
